<div class="home-container">
    <div class="navigation-buttons">
      <button mat-raised-button color="primary" (click)="goToClients()">
        View Clients
      </button>
      <button mat-raised-button color="primary" (click)="goToProcessors()">
        View Porcessors
      </button>
      <button mat-raised-button color="primary" (click)="goToMotherboards()">
        View Motherboards
      </button>
      <button mat-raised-button color="primary" (click)="goToGraphiCards()">
        View Graphic Cards
      </button>
      <button mat-raised-button color="primary" (click)="goToProducts()">
        View Products
      </button>
      <button mat-raised-button color="primary" (click)="goToOrders()">
        View Orders
      </button>
      <button mat-raised-button color="primary" (click)="goToReviews()">
        View Reviews
      </button>
    </div>
  </div>